# ----------------------------------
# Python
# ----------------------------------
__pycache__/
*.py[cod]
*.pyo

# ----------------------------------
# Virtual Environment
# ----------------------------------
venv/
.venv/
env/

# ----------------------------------
# Environment Variables
# ----------------------------------
.env

# ----------------------------------
# VS Code
# ----------------------------------
.vscode/

# ----------------------------------
# Streamlit
# ----------------------------------
.streamlit/

# ----------------------------------
# Jupyter Notebook
# ----------------------------------
.ipynb_checkpoints/

# ----------------------------------
# Logs
# ----------------------------------
*.log

# ----------------------------------
# Operating System Files
# ----------------------------------
.DS_Store
Thumbs.db

# ----------------------------------
# Build Files
# ----------------------------------
build/
dist/
*.egg-info/

# ----------------------------------
# Python Cache
# ----------------------------------
.pytest_cache/
.mypy_cache/

# ----------------------------------
# Database Files (if used)
# ----------------------------------
*.db
*.sqlite3